.console {
	.card-body {
		font-size: 14px;
		line-height: 1.3;
		font-weight: normal;
		font-family: "Consolas", "Andale Mono", "Courier New", "Courier", monospace;
		background-color: rgb(36, 39, 46);
		color: #f7f7f7;
		height: 350px;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 15px;
		max-height: 350px;
		position: absolute;
		top: 49px;
		left: 0;
		width: 100%;
		height: 350px;
	}
}
