$main-bg: #f2f3fa;
$white: #ffffff;
$header-height: 55px;

$sb-font: 'Roboto', sans-serif;
$primary-sb: #314860;

//sidebar
$sb-width: 230px;
$sb-font-color: darken($white, 25%);
$sb-highlight-item: lighten($primary-sb, 15%);
$sb-bg-submenu: darken($primary-sb, 5%);

//$sb-highlight-font-color: #1ab491;
//$sb-highlight-font-color: rgb(252, 85, 114);
$sb-highlight-font-color: $white;

$border-radius-card: 2px;


@import 'sidebar';
@import 'navbar';
@import 'login';
@import '~bootstrap/scss/bootstrap';

body {
	background-color: $main-bg;
	font-family: $sb-font;
	font-weight: 400;
	font-variant: tabular-nums;
	font-feature-settings: 'tnum';
	-webkit-font-feature-settings: 'tnum';
	-webkit-font-smoothing: antialiased;
}

.card {
	border-radius: $border-radius-card !important;

	.card-header, .card-footer {
		background-color: $white;
	}
}
