#sidebar {
	background: $primary-sb;
	font-family: $sb-font;
	min-height: 100vh;
}

.sidebar {
	font-size: 92%;
	display: table;
 	text-decoration: none;

	a, a:hover, a:focus {
		text-decoration: none;
		color: $sb-font-color;
	}

	.headline {
		padding-left: 15px;
		font-size: 95%;
		color: darken($sb-font-color, 10%);
		height: 45px;
		display: table-cell;
		vertical-align: middle;
		width: $sb-width;
	}

	.header {
		color: $white;
		background-color: $sb-highlight-item;
		width: $sb-width;
		height: 55px;
		display: table;
		box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1);

		h3 {
			display: table-cell;
			vertical-align: middle;
			padding-left: 15px;
		}
	}

	.toplevel-item, .sublevel-item {
		transition: all 0.2s ease;
		height: 45px;
		width: $sb-width;
		display: table-cell;
		vertical-align: middle;
		color: $sb-font-color;

		.icon {
			padding: 0 15px;
		}

		.angle {
			float: right;
			padding-right: 8px;
			padding-top: 4px;
		}
	}

	.sublevel-list {
		list-style-type: none;
		background-color: $sb-bg-submenu;
	}

	.sublevel-item {
		height: 35px;
	}

	.sublevel-item:hover, .toplevel-item:hover {
		color: $white;
		cursor: pointer;
	}

	.toplevel-item:hover {
		background-color: $sb-highlight-item;
	}

	.active {
		background-color: $sb-highlight-item;
		color: $sb-highlight-font-color !important;
	}

}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		 -khtml-user-select: none; /* Konqueror HTML */
			 -moz-user-select: none; /* Firefox */
				-ms-user-select: none; /* Internet Explorer/Edge */
						user-select: none; /* Non-prefixed version, currently
																	supported by Chrome and Opera */
}
